<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.24.0/moment-with-locales.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
 </head>
<body>
<div class="container">
    <form>
        <div class="form-group">
            <label >开始时间</label>
            <div class='input-group date'  >
                <input type='text' class="form-control"  id='begin'/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>

            </div>
        </div>
        <div class="form-group">
            <label >结束时间</label>
            <div class='input-group date'>
                <input type='text' class="form-control" id='end' />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>

            </div>
        </div>
        <button type="button" id="submit" class="btn btn-primary">Submit</button>

        <br/>
        <br/>
        <br/>
        <div class="alert alert-success" role="alert" id="showResult">
                this is show result !!! gege
        </div>

    </form>
</div>

<script>
    $(function () {
        $('#begin').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn'),
            defaultDate: "2021-02-08",

        });

        $('#end').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn'),
          //  defaultDate: "2020-02-08",

        });
        $("#submit").on("click",()=>{
            var begin = $('#begin').val();
            var end = $('#end').val();
            if(begin == "" || end==""){
                alert("选择开始时间和结束时间");
                return
            }
            var data = {"begin":begin,end:end};
            $("#showResult").html("");
            $.ajax({
                type:"POST",
                url:"/calc",
                contentType: "application/json", //必须这样写
                dataType:"json",
                data:JSON.stringify(data),
                success:function (res) {
                    console.info(res);
                    $("#showResult").html(res.result);

                }

            })


        })
    });
</script>
</body>
</html>